[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
boto3 = "*"
python-dotenv = "*"
urllib3 = "*"
aws-lambda-powertools = {version = "*", extras = ["all"]}

[requires]
python_version = "3.11"
